*.pyc
*.iml
.idea/dictionaries/nicol.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
# *.ipynb
env
notebooks/config
notebooks/.ipynb_checkpoints
bkanalysis/ui/assets
bkanalysis/ui/__init__.py
bkanalysis/ui/application.py
bkanalysis/ui/requirements.txt
.venv
.azure
Dockerfile
notebooks/full_analysis_backup.ipynb
notebooks/trips_outside_uk.ipynb
notebooks/wealth_monitoring.ipynb
notebooks/wealth_monitoring.ipynb
