*.pyc
*.iml
.idea/dictionaries/nicol.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.csv
*.ipynb
env
*.ini
notebooks
bkanalysis/ui/assets
bkanalysis/ui/__init__.py
bkanalysis/ui/application.py
bkanalysis/ui/requirements.txt
.venv
.azure